
/*-----------CSS PÁGINA MISIÓN-----------*/
.cont-mision {
    background: #8BC0F9;
    font-family: 'Josefin Sans';
    /*width: 1000px;*/
    /*height: 220px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 70px;
    box-shadow:0px 0px 0px 10px #0F3F73;
    padding: 20px;
    position: relative;
  }
  
  .cont-mision p{
    text-align: center;
  }

  .cont-mision:before{
    content: '';
    position: absolute;
    background: linear-gradient(to top, #23252B, transparent);
    width: 100%;
    height: 80px;
    bottom: 0;
  }

  .espacio {
    height: 100px;
  }

  .section-home-mision{
    position: relative;
    min-height: 60vh;
    background: url(img-titulos/mision_fondo.png)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-home-mision:before{
    content: '';
    position: absolute;
    background: linear-gradient(to top, #23252B, transparent);
    width: 100%;
    height: 80px;
    bottom: 0;
  }